<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tosspayments.paymentsdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".activity.TossPaymentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.TossPaymentsWebActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>
</manifest>