<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tosspayments.android.ocr">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <application>
        <activity
            android:name="com.tosspayments.android.ocr.activity.BrandPayCardScanActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/BrandPayOcrTheme" />
    </application>

</manifest>