name: Build APK

on:
  workflow_call:
    inputs:
      branch:
        required: false
        type: string
      build_flavor:
        required: false
        type: string
        default: live

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - id: string
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ inputs.build_flavor }}

      - name: Set Build Variables
        id: variables
        run: |
          echo "TASK=assemble${{ steps.string.outputs.capitalized }}LocalDebug" >> $GITHUB_OUTPUT
          echo "FILE_PATH=./app/build/outputs/apk/${{ steps.string.outputs.lowercase }}Local/debug/app-${{ steps.string.outputs.lowercase }}-local-debug.apk" >> $GITHUB_OUTPUT

      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle
          cache-dependency-path: '**/*.gradle*'

      - name: Cache Gradle Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build APK
        run: ./gradlew clean ${{ steps.variables.outputs.TASK }}