name: Build APK

on:
  workflow_dispatch:
    inputs:
      branch:
        required: false
        type: string
      build_flavor:
        required: false
        type: string
        default: live
      slack_channel_id:
        required: false
        type: string
        default: payment-android-app-release-test

env:
  SLACK_CHANNEL_ID: ${{inputs.slack_channel_id}}
  SLACK_BOT_TOKEN: ${{ secrets.SLACK_AUTH_TOKEN }}

jobs:
  build:
    runs-on: [ self-hosted, group-native-app ]
    steps:
      - id: string
        uses: ASzc/change-string-case-action@v5
        with:
          string: ${{inputs.build_flavor}}
      - name: Set Build Variables
        id: variables
        run: |
          echo "TASK=assemble${{steps.string.outputs.capitalized}}Release" >> $GITHUB_OUTPUT
          echo "FILE_NAME=payment-sdk-sample-${{steps.string.outputs.lowercase}}" >> $GITHUB_OUTPUT
          echo "FILE_PATH=./app/build/outputs/apk/${{steps.string.outputs.lowercase}}/release/app-${{steps.string.outputs.lowercase}}-release.apk" >> $GITHUB_OUTPUT
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          ref: ${{inputs.branch}}
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle
      - name: Store Gradle cache
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: $-gradle-$
          restore-keys: $-gradle-
      - name: Setup Android SDK
        uses: android-actions/setup-android@v2
      - name: Grant execute permission for gradlew
        shell: bash
        run: chmod +x gradlew
      - name: Set ENV
        run: |
          echo "BRANCH=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
          echo "AUTHOR=$GITHUB_ACTOR" >> $GITHUB_ENV
      - name: Build APK
        uses: gradle/gradle-build-action@v2
        with:
          arguments: clean ${{steps.variables.outputs.TASK}}
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: my-artifact
          path: ${{steps.variables.outputs.FILE_PATH}}
      - name: Get APK info
        id: apk-info
        uses: hkusu/apk-info-action@v1
        with:
          apk-path: ${{steps.variables.outputs.FILE_PATH}}
      - name: Notify success result to the slack channel
        if: ${{success()}}
        uses: slackapi/slack-github-action@v1.23.0
        with:
          channel-id: ${{env.SLACK_CHANNEL_ID}}
          payload: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ${{env.TITLE}}
                  }
                },
                {
                  "type": "divider"
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": ":technologist: *Athor* \n${{env.AUTHOR}}"
                    },
                    {
                      "type": "mrkdwn",
                      "text": ":branch: *Branch* \n${{env.BRANCH}}"
                    }
                  ]
                },
                {
                  "type": "actions",
                  "block_id": "actions1",
                  "elements": [
                    {
                      "type": "button",
                      "text": {
                          "type": "plain_text",
                          "text": "다운로드"
                      },
                      "style": "primary",
                      "value": "cancel",
                      "url": "${{env.APP_CENTER_URL}}",
                      "action_id": "button_1"
                    }
                  ]
                }
              ]
            }
        env:
          TITLE: ":android: *${{ steps.apk-info.outputs.application-name }} ${{ steps.apk-info.outputs.version-name }}* 빌드가 배포되었습니다."
          COMMIT_MESSAGE: "```${{steps.commit_message.outputs.replaced}}```"
      - name: Comment on failure
        if: ${{failure()}}
        uses: slackapi/slack-github-action@v1.23.0
        with:
          channel-id: ${{env.SLACK_CHANNEL_ID}}
          update-ts: ${{ steps.slack.outputs.ts }}
          payload: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "${{env.TITLE}}"
                  }
                },
                {
                  "type": "divider"
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": ":technologist: *Athor*\n${{env.AUTHOR}}"
                    },
                    {
                      "type": "mrkdwn",
                      "text": ":branch: *Branch*\n${{env.BRANCH}}"
                    },
                   {
                     "type": "mrkdwn",
                     "text": ":memo: *Release Note* \n${{ inputs.release_note }}"
                   }
                  ]
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "${{ env.COMMIT_MESSAGE }}"
                  }
                }
              ]
            }
        env:
          TITLE: ":android: *${{ env.APP_NAME }}* 빌드에 실패하였습니다."
          COMMIT_MESSAGE: "```${{steps.commit_message.outputs.replaced}}```"