name: Payment SDK Android CI

on:
  push:
    branch:
      - feature/cp-92

env:
  AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_KMS_ACCESS_KEY: ${{ secrets.AWS_KMS_ACCESS_KEY }}
  AWS_KMS_SECRET_ACCESS_KEY: ${{ secrets.AWS_KMS_SECRET_ACCESS_KEY }}

jobs:
  dev:
    uses: ./.github/workflows/build-apk.yml
    with:
      branch: ${{github.ref}}
      build_flavor: dev
  staging:
    uses: ./.github/workflows/build-apk.yml
    with:
      branch: ${{github.ref}}
      build_flavor: staging
  live:
    uses: ./.github/workflows/build-apk.yml
    with:
      branch: ${{github.ref}}
      build_flavor: live